@font-face {
    font-family: TekoRegular;
    src: url(../../fonts/Teko-Regular.ttf);
}
@font-face {
    font-family: TekoMedium;
    src: url(../../fonts/Teko-Medium.ttf);
}
@font-face {
    font-family: TekoSemibold;
    src: url(../../fonts/Teko-SemiBold.ttf);
}
@font-face {
    font-family: TekoBold;
    src: url(../../fonts/Teko-Bold.ttf);
}
@font-face {
    font-family: AdevaleRegular;
    src: url(../../fonts/Adevale.otf);
}
@font-face {
    font-family: TTLakes;
    src: url(../../fonts/TT\ Lakes\ Regular.ttf);
}
p{
    font-family: 'TTLakes';
}


body{
    background-color: #edf0f2;
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    max-width: 1800px;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 20px;
}
.primoContenitore{
    height: 100px;
    width: 50%;
    margin: auto;
}
#logo{
    width: 234px;
    height: 100px;
    padding-left: 180px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 50%;
}
.nav a{
    font-size: 17px;
    font-family: 'TekoSemibold';
    text-decoration: none;
    color: black;
}
.nav a:hover{
    color: blue;
    transform: scale(1.1);
}
#riga{
    height: 40px;
    border-left: 1px solid black;
    margin-left: 50px;
    margin-right: 50px;
}
.icona{
    height: 30px;
    margin-right: 55px;
    margin-left: 65px;
    cursor: pointer;
}
#searchBar{
    border-radius: 20px;
    border: 0;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#searchBar input{
    height: 15px;
    width: 60%;
    display: none;
    margin-right: 15px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 2px;
}
#searchBar #search{
    height: 48px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #E4003B;
}
.secondoContenitore{
    max-width: 1600px;
    position: relative;
    left: 170px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
}
.primoContenitore{
    display: flex;
    flex-direction: column;
}
.primoContainer{
    width: 10%;
}
.secondoContainer{
    width: 90%;
    display: flex;
    height: 660px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.secondoContenitore #freccia{
    transform: rotate(180deg);    
    position: absolute;
    top: 580px;
    left: 140px;
}
.testoVerticale{
    transform: rotate(-90deg);
    transform-origin: left center;
    position: absolute;
    top: 430px;
    left: 24px;
    width: 900px;
    font-family: 'TekoSemibold';
}
.testoVerticale h1{
    font-size: 55px;
}
.titoloScomposto{
    color: #E4003B;
    font-family: 'TekoSemibold';
    height: 550px;
}
.titoloScomposto h2{
    font-size: 176px;
    line-height: 130px;
}
.primaDescrizione{
    width: 260px;
    font-size: 14px;
    z-index: 2;
    font-family: 'TTLakes';
}
.parteSliders{
    display: flex;
    position: relative;
    left: 60px;
}
.parteSliders .slider img{
    display: none;
}
.parteSliders .swiper {
    width: 1174px;
    z-index: 1;
}
.parteSliders .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parteSliders .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.parteSliders .freccieDirezzionali{
    position: relative;
    top: 690px;
    right: 66px;
    z-index: 2;
    box-sizing: border-box; 
}
#frecciaDx{
    width: 66px;
    height: 66px;
    background-color: #E4003B;
    border: 0;
    cursor: pointer;
}
#frecciaSx{
    width: 66px;
    height: 66px;
    background-color: white;
    border: 0;
    transform: rotate(180deg);
    cursor: pointer;
}
.numeriPagina{
    float: right;
    position: absolute;
    top: 40%;
    right: -75px;
    height: 202px;
    text-align: right;
    font-family: 'TekoBold';
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.numeriPagina span{
    cursor: pointer;
}
#prima{
    font-size: 60px;
    border-bottom: 2px solid #E4003B;
    padding-bottom: 10px;
    width: 60px;
}
.social{
    position: relative;
    top: 700px;
    right: 25px;
    cursor: pointer;
}
.icon{
    margin-bottom: 15px;
}
.icon:hover{
    transform: scale(1.1);
}
.terzoContenitore{
    max-width: 1600px;
    margin-left: 170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    overflow: hidden;
}
.sezioneFuoco{
    width: 60%;   
}
.popular{
    font-size: 60px;
    font-family: 'TekoSemibold';
}
.immaginiFuoco{
    display: flex;
    margin-bottom: 50px;
}
.immaginiFuoco img{
    margin-right: 40px;
}
.descrizione{
    width: 570px;
    height: 309px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.descrizione span{
    font-size: 17px;
    color: #E4003B;
    font-family: 'TekoSemibold';
}
.descrizione h2{
    font-size: 36px;
    width: 430px;
    font-family: 'TekoMedium';
}
.findOutMore{
    display: flex;
    width: 143px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.findOutMore:hover{
    transform: scale(1.1);
}
.findOutMore span{
    font-size: 17px;
    color: black;
    font-family: 'TekoSemibold';
}
.findOutMore img{
    margin-right: -25px;
}
.sezioneScarpe{
    width: 40%;
    height: 1121px;
    position: relative;
    right: -90px;
    top: -100px;
}
.sezioneScarpe .titolo{
    display: flex;
}
.sezioneScarpe .titolo .numero{
    font-size: 60px;
    color: #E4003B;
    padding-top: 50px;
    font-family: 'TekoSemibold';
}
.sezioneScarpe .titolo h2{
    font-size: 174px;
    color: white;
    font-weight: bold;
    line-height: 130px;
    font-family: 'TekoSemibold'
}
.titolo .challenges{
    color: #E4003B;
    position: relative;
    font-size: 96px;
    top: 85px;
    left: -195px;
    transform:rotate(-15deg);
    font-family: 'AdevaleRegular';
}
.sezioneScarpe #scarpe{
    position: absolute;
    top: 260px;
    left: -80px;
}
.sezioneScarpe span{
    color: black;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Teko', sans-serif;
}
.sezioneScarpe h3{
    color: black;
    font-size: 36px;
    font-family: 'TekoMedium';    
    width: 420px;
    line-height: 110%;
}
.sezioneScarpe p{
    color: black;
    width: 450px;
    margin-bottom: 20px;
}
.descrizioneScarpe{
    margin-top: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sezioneScarpe .findOutMore span{
    font-size: 17px;
    color: black;
    font-family: 'TekoSemibold';
}
.quartoContenitore{
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    overflow: hidden;
}
.quartoContenitore .primoDiv{
    padding-top: 265px;
    width: 20%;
}
.quartoContenitore .secondoDiv{
    width: 10%;
}
.quartoContenitore .terzoDiv{
    width: 65%;
}
.quartoContenitore .primoDiv h3{
    font-size: 17px;
    font-family: 'TekoSemibold';
    margin-bottom: -80px;
}
.quartoContenitore .primoDiv h1{
    font-size: 280px;
    font-family: 'TekoSemibold';
    color: #E4003B;
    margin: 0;
    margin-bottom: -110px;
}
.quartoContenitore .primoDiv h2{
    font-size: 60px;
    font-family: 'TekoSemibold';
    line-height: 58px;
    margin-bottom: 30px;
}
.quartoContenitore h2 span{
    color: #E4003B;
}
.primoDiv .findOutMore{
    width: 110px;
    padding-left: 4px;
}
.secondoDiv{
    z-index: 2;
}
.secondoDiv h2{
    color: white;
    font-size: 174px;
    font-family: 'TekoSemibold';
    transform: rotate(270deg);
    position: relative;
    right: 440px;
    top: 260px;
    width: 936px;
    word-spacing : 30px
}
.secondoDiv #freccia{
    position: relative;
    transform: rotate(90deg);
    left: 150px;
    top: 220px;
}
.terzoDiv {
    height: 1020px;
    background-image: url('../images/uomoMontagna.jpg');
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}
.terzoDiv .text{
    width: 492px;
    height: 796px;
    margin: auto;
    border: 30px solid #E4003B;
    /* creare il bordo interno */
    box-sizing: border-box; 
    margin-top: 100px;
    padding-left: 40px;
}
.text h1{
    color: white;
    font-size: 60px;
    font-family: 'TekoMedium';
    width: 398px;
    line-height: 54px;
    padding-top: 270px;
    margin-bottom: 48px;
}
.text h2{
    color: white;
    font-size: 36px;
    width: 349px;
    line-height: 37px;
    font-family: 'TekoMedium';
}
.text .findOutMore{
    width: 250px;
}
.text .findOutMore span{
    color: white;
}
.quintoContenitore{
    max-width: 1600px;
    height: 619px;
    margin: auto;
    display: flex;
    margin-bottom: 200px;
    justify-content: space-between;
    overflow: hidden;
}
.quintoContenitore .title{
    width: 14%;
    position: relative;
    top: 180px;
    right: 40px;
}
.quintoContenitore h2{
    color: #E4003B;
    font-size: 174px;
    font-family: 'TekoSemibold';
    transform: rotate(270deg);
}
.immagineTenda .slider{
    position: absolute;
}
.immagineTenda .slider img{
    display: none;
}
.immagineTenda .swiper {
    width: 1383px;
    height: 612px;
    z-index: 1;
}
.immagineTenda .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.immagineTenda .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.immagineTenda{
    width: 100%;
    height: 612px;
    float: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}
.uomoCampeggio{
    z-index: 1;
    position: absolute;
}
.immagineTenda .bottomLeft{
    width: 492px;
    height: 267px;
    background-color: #edf0f2;
    position: relative;
    top: 350px;
    left: -17px;
    z-index: 2;
}
.immagineTenda .upRight{
    width: 174px;
    height: 174px;
    background-color: #edf0f2;
    position: relative;
    left: 717px;
    z-index: 2;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.immagineTenda .freccieDirezzionali{
    position: relative;
    top: 480px;
    left: 645px;
    z-index: 2;
}
.bottomLeft .textBottomLeft{
    width: 80%;
    text-align: left;
    margin: 0 auto;
    position: absolute;
    top: 0;
}
.bottomLeft h1{
    font-size: 60px;
    font-family: 'TekoSemibold';
    /* text-align: center; */
    margin-bottom: -15px;
}
.bottomLeft p{
    font-size: 14px;
    font-family: 'TTLakes';
    line-height: 26px;
    text-align: justify;
}
.bottomLeft .findOutMore{
    width: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upRight hr{
    width: 70px;
    height: 2px;
    background-color: #E4003B;
    border: 0;
    margin-top: -15px;
}
.upRight .numeretti{
    margin-top: 20px;
}
.upRight .numeretti #primo{
    font-size: 60px;
    font-family: 'TekoSemibold';
    /* border-bottom: 2px solid #E4003B; */
    text-align: right;
    width: 70px;
    color: black;
    margin: auto;
}
.upRight .numeretti #secondo{
    font-size: 17px;
    font-family: 'TekoSemibold';
    text-align: right;
    width: 70px;
    color: black;
    margin: auto;
    margin-top: 20px;
}
.sestoContenitore {
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
}
.sestoContenitoreInterno{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tendaNotte p{
    color: white;
    font-size: 16px;
    font-family: 'TekoRegular';
    margin-left: 40px;
    margin-top: 320px;
    margin-bottom: -70px;
}
.pentolino p{
    color: white;
    font-size: 16px;
    font-family: 'TekoRegular';
    margin-left: 40px;
    margin-top: 320px;
    margin-bottom: -70px;
}
.sestoContenitore h6{
    color: white;
    width: 413px;
    font-size: 36px;
    font-family: 'TekoMedium';
    margin-left: 40px;
}
.sestoContenitore .tendaNotte{
    width: 30%;
    height: 510px;
    background-image: url('../images/tenda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.sestoContenitore .pentolino{
    width: 35%;
    height: 510px;
    background-image: url('../images/pentolino.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.tendaNotte img{
    height: 30px;
    position: relative;
    top: 44px;
    left: 44px;
}
.pentolino img{
    height: 30px;
    position: relative;
    top: 44px;
    left: 44px;
}
.sestoContenitore .textVicinoImmagini{
    width: 25%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.sestoContenitore .textVicinoImmagini .gallery span{
    color: black;
    font-size: 106px;
    font-family: 'TekoSemibold';
    margin-bottom: 20px;
}
.sestoContenitore .textVicinoImmagini .gallery .titoloStorto{
    color: #E4003B;
    font-size: 70px;
    font-family: 'AdevaleRegular';
    transform:rotate(-15deg);
    position: relative;
    bottom: 160px;
    left: 110px;
    margin-bottom: -100px;
}
.paragraph{
    color: black;
    font-size: 14px;
    font-family: 'TTLakes';
    line-height: 26px;
}
.textVicinoImmagini .findOutMore{
    width: 85px;
}
.sestoContenitore #freccia{   
    position: relative;
    float: right;
    bottom: 90px;
    animation: 3s ease-in;
}
.settimoContenitore{
    max-width: 1600px;
    height: 360px;
    margin: auto;
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.settimoContenitore .firstContainer{
    max-width: 1600px;
    display: flex;
    height: 100%;
}
.settimoContenitoreInterno{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.logoFooter{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}
.settimoContenitoreInterno{
    padding-top: 60px;
    width: 50%;
    height: 90%;
}
.logoFooter img{
    width: 223.59px;
    height: 103.96px;
    margin: auto;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.linksChallenges{
    padding-bottom: 30px;
}
.links div a{
    color: white;
    font-size: 14px;
    font-family: 'TTLakes';
    text-align: left;
    line-height: 26px;
    text-decoration: none;
}
/* .links div a:hover{
    color: aqua;
    border-bottom: 1px solid white;
    transition: 4s linear;
} */
.links img{
    cursor: pointer;
}
.links img:hover{
    transform: scale(1.1);
}
.settimoContenitoreInterno div span{
    color: #E4003B;
    font-size: 36px;
    font-family: 'TekoMedium';
}
.divFinale{
    width: 45%;
    margin: 0 auto;
}
.links div a {
    display: inline-block;
}
.links div a:hover {
    color: aqua;
}
.links div a:after {
    content: '';
    display: block;
    height: 1.5px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.links div a:hover:after {
    width: 100%;
    background: aqua;
}

/*VISUALIZZAZIONE DA LAPTOP*/
@media (max-width: 1200px) {
    .header{
        max-width: 100%;
    }
    .secondoContenitore{
        max-width: 100%;
    }
    .terzoContenitore{
        max-width: 100%;    
    }
    .quartoContenitore{
        max-width: 100%;
    }
    .quintoContenitore{
        max-width: 100%;
    }
    .sestoContenitore{
        max-width: 100%;
    }
    .settimoContenitore{
        max-width: 100%;
    }

}


/*VISUALIZZAZIONE DA TABLET*/
@media (max-width: 980px) { 
    .header{
        max-width: 100%;
    }
    .secondoContenitore{
        max-width: 100%;
    }
    .terzoContenitore{
        max-width: 100%;    
    }
    .quartoContenitore{
        max-width: 100%;
    }
    .quintoContenitore{
        max-width: 100%;
    }
    .sestoContenitore{
        max-width: 100%;
    }
    .settimoContenitore{
        max-width: 100%;
    }

}



/*VISUALIZZAZIONE DA MOBILE ORIZZONTALE*/
@media (max-width: 767px) {
    .header{
        max-width: 100%;
    }
    .secondoContenitore{
        max-width: 100%;
    }
    .terzoContenitore{
        max-width: 100%;    
    }
    .quartoContenitore{
        max-width: 100%;
    }
    .quintoContenitore{
        max-width: 100%;
    }
    .sestoContenitore{
        max-width: 100%;
    }
    .settimoContenitore{
        max-width: 100%;
    }

}




/*VISUALIZZAZIONE DA MOBILE VERTICALE*/
@media (max-width: 480px) {
    .header{
        max-width: 100%;
        margin-bottom: -100px;
    }
    .paragraph{
        font-size: 11px;
    }
    #logo{
        height: 50px;
        padding-left: 0;
    }
    .nav a{
        font-size: 11px;
    }
    .secondoContenitore{
        max-width: 100%;
        left: 0;
        flex-direction: column; 
        margin-bottom: 90px;
    }
    .primoContainer{
        width: 100%;
    }
    .testoVerticale{
        padding-top: 100px;
        margin: auto;
    }
    .secondoContainer{
        width: 100%;
    }
    .titoloScomposto{
        width: 50%;
        margin: auto;
        margin-top: -90px;
        margin-bottom: -30px;
    }
    .secondoContainer #freccia{
        height: 140px;
        margin-left: 200px;
        margin-top: -50px;
    }
    .primaDescrizione{
        width: 80%;
        margin: auto;
    }
    .parteSliders{
        left: 0;
        padding: 20px;
    }
    .parteSliders .swiper {
        width: 430px;
        z-index: 1;
    }
    .parteSliders .freccieDirezzionali{
        top: 305px;
        right: 270px;
        display: flex;
        flex-direction: row-reverse;
    }
    .terzoContenitore{
        max-width: 100%;
        flex-direction: column;
        margin-left: 20px;
        margin-bottom: -400px;
    }
    .immaginiFuoco{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .descrizione{
        width: 130%;
        margin-bottom: 10px;
    }
    .findOutMore{
        display: flex;
        width: 95px;
    }
    .findOutMore span{
        font-size: 12px;
    }
    .findOutMore img{
        height: 20px; 
    }
    .sezioneScarpe{
        right: 0;
    }
    .sezioneScarpe .titolo .numero{
        font-size: 30px;
    }
    .sezioneScarpe .titolo h2{
        font-size: 100px;
        line-height: 70px;
        padding-top: 20px;
    }
    .titolo .challenges{
        font-size: 60px;
        top: 60px;
        left: -90px;
    }
    #scarpe{
        height: 250px;
    }
    .sezioneScarpe #scarpe{
        top: 220px;
        left: 0px;
    }
    .sezioneScarpe span{
        font-size: 30px;
        margin-top: -150px;
    }
    .sezioneScarpe h3{
        font-size: 15px;
    }
    .sezioneScarpe p{
        width: 200%;
    }
    .descrizioneScarpe{
        margin-top: 300px;
        height: 100px;
    }
    .terzoDiv .findOutMore{
        align-items: center;
    }
    .sezioneScarpe .findOutMore span{
        font-size: 11px;
        padding-top: 150px;
    }
    .quartoContenitore{
        max-width: 100%;
        margin-bottom: 0;
        flex-direction: column;
        margin: auto;
        margin-left: 20px;
    }
    .quartoContenitore .primoDiv{
        width: 100%;
        padding-top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .quartoContenitore .primoDiv h3{
        font-size: 16px;
        line-height: 15px;
        margin-bottom: -10px;
    }
    .quartoContenitore .primoDiv h1{
        font-size: 60px;
        margin: 0;
        /* margin-bottom: -110px; */
    }
    .quartoContenitore .divPerResponsive{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .quartoContenitore .secondoDiv{
        width: 10%;
    }
    .quartoContenitore .secondoDiv h2{
        font-size: 60px;
        right: 420px;
        top: -290px;
    }
    .quartoContenitore .secondoDiv #freccia{
        height: 140px;
        top: 80px;
        left: 0;
    }
    .quartoContenitore .terzoDiv{
        width: 80%;
        height: 510px;
        background-size: cover;
    }
    .quartoContenitore .terzoDiv .text{
        width: 80%;
        height: 410px;
        background-size: cover;
        border: 10px solid #E4003B;
        margin: auto;
    }
    .text h1{
        font-size: 16px;
        padding-top: 230px;
        margin: auto;
    }
    .text h2{
        font-size: 14px;
        width: 90%;
        line-height: 20px;
        margin: auto;
        margin-bottom: 20px;
    }
    .text .findOutMore{
        width: 170px;
    }
    .text .findOutMore span{
        padding-left: 0px;
    }
    .quintoContenitore{
        width: 100%;
        margin-top: 100px;
    }
    .quintoContenitore .title{
        top: 180px;
        right: 0;
        left: 10px;
    }
    .immagineTenda .swiper {
        width: 400px;
        height: 410px;
    }
    .immagineTenda .bottomLeft{
        width: 292px;
        height: 200px;
        background-color: yellow;
    }
    .bottomLeft p{
        line-height: 15px;
    }
    .immagineTenda .upRight{
        width: 50px;
        height: 50px;
        background-color: #edf0f2;
        position: relative;
        left: 60px;
        z-index: 2;
    }
    .immagineTenda .freccieDirezzionali{
        position: relative;
        top: 480px;
        left: 645px;
        z-index: 2;
    }
    .bottomLeft{
        width: 492px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .bottomLeft h1{
        font-size: 20px;
        margin-bottom: -15px;
    }
    .bottomLeft .findOutMore{
        width: 50px;
    }
    .upRight hr{
        width: 15px;
        height: 2px;
    }
    .upRight .numeretti{
        margin-top: 5px;
    }
    .upRight .numeretti #primo{
        font-size: 20px;
    }
    .upRight .numeretti #secondo{
        font-size: 14px;
        font-family: 'TekoSemibold';
        text-align: right;
        width: 70px;
        color: black;
        margin: auto;
        margin-top: 5px;
    }
    .quintoContenitore h2{
        font-size: 60px;
    }
    .sestoContenitore{
        max-width: 100%;
    }
    .settimoContenitore{
        max-width: 100%;
    }

}
